node_modules/
test.cy.js/
/test-results/
/playwright/.cache/
/test-results/
playwright-report/
/playwright/.cache/
cypress/screenshots/
cypress/videos/
tests-examples/
cypress/fixtures/credentials1.json
cypress/reports
allure-report
allure-results
/test-results/
/playwright-report/
/playwright/.cache/
